/*
ethan (average-kirigiri-enjoyer)
SCS Boot Camp Module 5 Weekly Challenge - Hourly Work Day Scheduler
Created 2023/08/09
Last Edited 2023/08/13
*/

/* sets text font and default size */
body
{
  font-family: Raleway;
  font-size: 16px;
  margin-bottom: 50px;
}

/* defines display settings for event text */
textarea
{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* places header text in the middle of the screen */
header
{
  text-align: center;
}

/* sets font size for subtitle & calendar day in header */
.lead
{
  font-size: 24px;
}

/* sets event text to wrap when necessary & on line breaks, preserving whitespaces */
.description
{
  white-space: pre-wrap;
} 

/* curves background colour of hour block in tune with save button */
.time-block
{
  border-radius: 15px;
}

/* adds tiny gap between each hour block */
.row
{
  border-top: 1px solid white;
}

/* defines display settings for hour block titles */
.hour
{
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* adds text & background colour for past hour blocks */
.past
{
  background-color: #d3d3d3;
  color: white;
}

/* adds text & background colour for current hour block */
.present
{
  background-color: #ff6961;
  color: white;
}

/* adds text & background colour for future hour blocks */
.future
{
  background-color: #77dd77;
  color: white;
}

/* defines display settings for each hour block's save button */
.saveBtn
{
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

/* and adds hover animations to save icon */
.saveBtn i:hover
{
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}